<!--ETIQUETA HOLA MUNDO-->
<h1>HOLA MUNDO</h1>
<!--ETIQUETA USANDO TITTLE-->
<h1>Hola {{title}}</h1>

<!--INCRUSTAR 5 VECES -->
<app-compa></app-compa>
<app-compa></app-compa>
<app-compa></app-compa>
<app-compa></app-compa>
<app-compa></app-compa>


<!--INCRUSTAR 2 VECES -->
<app-programacion></app-programacion>
<app-hala-madrid></app-hala-madrid>

<app-programacion></app-programacion>
<app-hala-madrid></app-hala-madrid>

<!--CALCULADORa-->
<app-calculadora></app-calculadora>

<app-padree-hijo [tituloARecibir]="tituloPadre"></app-padree-hijo>